// Grays
$white:           #ffffff !default;
$lightGray:       #edf0f5 !default;
$lightGrayBorder: #bec0c4 !default;
$gray:            #dee2e8 !default;
$grayMedium:      #ccd1d9 !default;
$grayMediumDark:  #999999 !default;
$grayDark:        #666666 !default;
$grayDarker:      #333333 !default;
$grayDarkest:     #161616 !default;
$offBlack:        #252525 !default;
$black:           #000000 !default;

// Accent colors
$blue:            #0099ff !default;
$blueDark:        #007aec !default;
$green:           #3cd808 !default;
$greenDark:       #30c300 !default;
$greenLight:      #40b006 !default;

$red:             #cc0000 !default;
$redDark:         #a60000 !default;
$redDarker:       #990000 !default;
$redDarkest:      #660000 !default;

$yellow:          #ffc40d !default;
$yellowDark:      #ecbd00 !default;
$orange:          #ff8e14 !default;
$orangeDark:      #e67700 !default;
$magenta:         #ff0099 !default;