@import 'breakpoints';
@import 'colors';
@import 'fonts';

body {
    font-family: $lato;
}

ul {
    list-style-type: none;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}