<div>
    <div class="section-title">{{title}}</div>
    {{#each content}}
        <div class="sub-title">{{name}}</div>
        <div class="year">{{year}}</div>
        <div>{{description}}</div>
    {{/each}}
</div>