<div>
    <div class="section-title">{{title}}</div>
    <ul>
        {{#each content}}
            <li class="sub-title">{{skill}}
                <div>{{rating}}</div>
            </li>
        {{/each}}
    </ul>
</div>