<div>
    <div class="section-title">{{title}}</div>
    <ul>
        {{#each content}}
            <li class="sub-title">
                <span class="rating">
                    <meter value={{rating}} min="0" max="5"></meter>
                </span>
                <span class="skill">{{skill}}</span>
            </li>
        {{/each}}
    </ul>
</div>