<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./app.css">
  </head>
  <body>
        <header class="header">

        </header>
        <section>

        </section>
        <footer>

        </footer>
      <script type="text/javascript" src = './app.js'></script>
  </body>
</html>

