@import '/common/common';
$background-image: url('/img/background.jpg');

.background {

}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 10px 10px 20px #888888;
    border: 1px solid $lightGrayBorder;
}

@import 'header';